!-- fichier template.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{site}" />
    <title>Recover password</title>
</head>
<body>
<p>
    Vous pouvez dès maintenant vous connecte
    avec vos identifiants
</p>

<p>
<div>

</div>
A bientôt !
</p>
</body>
</html>