{% extends 'base.html.twig' %}

{% block content %}
    <div id="team">

        <section>
            <div class="container">
                <div class="row flex-center sm-no-flex">

                    <div class="pull-right sm-no-float col-md-8">
                        <ul class="team-members">

                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/05/evan-headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.COMMUNICATION</h3>
                                            <p>YACINE FARH & FORMATIONAT</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>

                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/andrew_poturalski_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>VICE PRESIDENT</h3>
                                            <p>ZINELABIDIN BELHASSEN</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/andrew_poturalski_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>PRESIDENT</h3>
                                            <p>HATEM BOUGUILA</p>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->

                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/05/evan-headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.PARTENARIAT</h3>
                                            <p>RACHA HAJLAOUI</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/05/evan-headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>RH & FORMATION</h3>
                                            <p>BEN MASSOUED</br>IMEN</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/andrew_poturalski_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>TRESOIRIER</h3>
                                            <p>WIEM BOUDOKHANE</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/12/2015-Dougie-Headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>SECRETAIRE GENERALE</h3>
                                            <p>NADA HMIDI</p>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- /single member row ends -->
                            <!-- single member row starts -->
                            <li class="clearfix">

                                <div class="member-details">
                                    <div>

                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/05/evan-headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.PROJET</h3>
                                            <p>AMIR BEN AMARA</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/andrew_poturalski_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.LOGISTIQUE</h3>
                                            <p>ADNEN CHABAANE</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">

                                </div>
                            </li><!-- /single member row ends -->
                            <!-- single member row starts -->
                            <li class="clearfix">
                                <div class="member-details">
                                    <div>
                                        <img src="https://axis.org/wp-content/uploads/2015/05/evan-headshot.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.PROSPECTION</h3>
                                            <p>AYA ABDELLATIF</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="member-details">
                                    <div>
                                        <img src="http://gocheckers.com/images/roster/andrew_poturalski_headshot_1718.png" alt="UI Designer">
                                        <div class="member-info">
                                            <h3>R.SPONSERING</h3>
                                            <p>KHADHRAOUI MAROUENE</p>
                                        </div>
                                    </div>
                                </div>

                            </li><!-- /single member row ends -->
                        </ul><!-- /end team-photos -->
                    </div><!-- /end col-md-8 -->

                    <div class="pull-left col-md-4 sm-text-center">
                        <div class="team-overview">
                            <h2>Who Are We?</h2>
                            <a href="#">Meet the Entire Team</a>
                            <p><div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quae nesciunt officia! Autem, nam eum voluptatem, esse voluptatibus deleniti tempora laboriosam sequi pariatur, explicabo itaque. Fuga, deserunt? Repudiandae, neque qui.</div></p>
                        </div>
                    </div><!-- /end col-md-4 -->
                </div><!-- /end row -->
            </div><!-- /end container -->
        </section>
    </div>

{% endblock %}
